<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div>
    <nav>
        <a href="/">Home</a> |
        <a href="/data/allposts">All Posts</a>
    </nav>
</div>
@RenderBody()
<div></div>
</body>
</html>
